:root {
    --col-prim-desaturated-red: hsl(0, 36%, 70%);
    --col-prim-soft-red: hsl(0, 93%, 68%);
    --col-neut-dark-gray-red: hsl(0, 6%, 24%);
    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    max-width: 480px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    height: 100dvh;
    min-width: 320px;

}

main {
    display: grid;
    grid-template-rows: .15fr .4fr auto;
    grid-auto-columns: 100%;
    margin: auto;
    width: 100%;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

header {
    padding: 2rem;
    height: 100%;
}

header img {
    max-height: 1.5rem;
}

.hero {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.hero img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 10%;
    text-align: center;
    max-height: 100%;
}

h1 {
    padding: 1rem 0;
    font-size: 2.5rem;
    letter-spacing: .7rem;
    text-transform: uppercase;
    color: var(--col-neut-dark-gray-red);
}

h1 span {
    font-weight: var(--fw-light);
    color: var(--col-prim-desaturated-red);
}

p {
    color: var(--col-prim-desaturated-red);
    line-height: 1.4rem;
    font-weight: var(--fw-normal);
}


div.submit-form{
    display: flex;
    border: 1px solid var(--col-prim-desaturated-red);
    border-radius: 2rem;
    height: 3rem;
    align-items: center;
    margin-top: 7%;
    width: 100%;
    max-width: 100%;
    position: relative;
}

div.submit-form button{
    min-height: 100%;
    height:inherit;
    border-radius: inherit;
    padding: 0 1.5rem;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: transparent;
    box-shadow: 0 1rem 4rem .1rem var(--col-prim-desaturated-red);
    margin-right: -2px;
}

div.input {
    justify-items: center;
    min-height: 100%;
    height: 100%;
    border-radius: inherit;
    border: transparent;
}

div.input input {
    min-height: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0 1.5rem;
    border: transparent;
    border-radius: inherit;
}

input::placeholder {
    color: var(--col-prim-desaturated-red);
    opacity: .5;
}

input:focus-visible {
    outline:none;
}

div.submit-form:focus-within {
    /*outline: var(--col-prim-desaturated-red) solid 2px;*/
    border: 2px solid var(--col-prim-soft-red);
    outline: none;
}

.error {
    width: 100%;
    color: var(--col-prim-soft-red);
    padding: .5rem;
    padding-left: 2rem;
    font-size: .8rem;
    text-align: left;
}

#error-icon {
    margin-right: .5rem;
    display: none;
    min-width: 24px;
    position: absolute;
    top: 20%;
    right: 20%;
}

@media(hover: hover) and (pointer: fine) {
    .submit-form button:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: hsl(0, 70%, 89%);
        background-image: none;
        transition: transform .5s;
    }
}

@media screen and (min-width: 610px) {
    main{
        grid-template-columns: .6fr .5fr;
        grid-template-areas:
        "header hero"
        "main-content hero";
        grid-template-rows: .2fr 1fr;
    }

    article {
        display: grid;
        place-content: center;
        margin: auto;
        max-width: 75rem;
    }

    h1 {
       /* font-size: clamp(3rem 4rem 4rem);*/
       font-size: 4rem;
    }

    .hero {
        grid-area: hero;
    }

    header {
        grid-area: header;
        padding-left: 20%;
    }

    .main-cont {
        grid-area: main-content;
        padding: 15% 20% 15% 20%;
        text-align: left;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: cover;
    }

    .hero img {
        height: 100%;
        object-fit: top;
        overflow: hidden;
    }

    form.submit-form {
        min-width: 100%
    }

    .input {
        width: 100%;
    }

    .submit-form button {
        min-width: 5.5rem;
    }

    #error-icon {
        right: 5.5rem;
    }

}
